* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
}


.header, .nav, .sidebar, .contenido, .footer {
  border: 3px solid #000000b4; 
}

.header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.nav {
  background-color: #091b2d;
  color: white;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}


.nav:hover {
  background-color: #34495e;
  cursor: pointer;
}

.contenedor {
  display: flex;
  min-height: 300px;
}

.sidebar {
  background-color: #1a7a92;
  width: 25%;
  padding: 20px;
}

.contenido {
  background-color: #066bb3;
  width: 50%;
  padding: 20px;
}

.footer {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}