selector {
  propiedad: valor;
}

Ejemplo:
p {
  color: black;
}
body {
  background-color: #f2f2f2;
  font-family: Calibri, sans-serif;
  padding: 20px;
}
#titulo {
  color: #077cf2;
  text-align: center;
  margin-bottom: 15px;
}
.texto {
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
}
.caja {
  background-color: #bea30b;
  border: 2px solid #213505;
  padding: 25px;
  width: 200px;
  margin-bottom: 20px;
}
.enlace {
  color: #3498db;
  text-decoration: none;
  font-size: 22px;
}

.enlace:hover {
  color: #ff0000;
}
.caja {
  display: block;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
